{
  "name": "{{repo}}",
  "private": true,
  "description": "{{repo-description}}",
  "author": {
    "name": "{{author-name}}",
    "email": "{{author-email}}"
  },
  "license": "MIT",
  "packageManager": "pnpm@9.15.4",
  "engines": {
    "node": ">=20",
    "pnpm": ">=9"
  },
  "scripts": {
    "prepare": "husky",
    "commitlint": "commitlint",
    "lint:md": "markdownlint-cli2 \"**/*.md\" \"#node_modules\""
  },
  "devDependencies": {
    "@commitlint/cli": "^19.8.1",
    "@commitlint/config-conventional": "^19.8.1",
    "husky": "^9.1.7",
    "lint-staged": "^15.2.10",
    "markdownlint-cli2": "^0.14.0"
  },
  "lint-staged": {
    "*.md": "markdownlint-cli2"
  }
}
